includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - routes/

    level: 8

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Relationship methods don't need explicit generic types
        - '#return type with generic class.*does not specify its types#'